body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

.logo {
	font-size: 1.5em;
}

.menu {
	display: flex;
}

.menu a {
	color: #fff;
	text-decoration: none;
	margin-left: 20px;
}

.hero {
	text-align: center;
	padding: 50px;
	background-color: #f5f5f5;
}

.section-with-aside {
	display: flex;
	justify-content: space-between;
	padding: 50px;
}

.content {
	flex: 2;
}

aside {
	flex: 1;
	background-color: #f5f5f5;
	padding: 20px;
}

footer {
	font-size: 1rem;
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 1px;
}

footer p {
	font-size: 0.8rem;
}
